ion-content{
  --background: rgb(115,55,212);
  --background: radial-gradient(circle, rgba(115,55,212,1) 0%, rgba(0,214,192,1) 100%);
}
.box{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  min-height: 800px;
  max-width: 800px;
  padding-top: 20px;
  border-radius: 7px !important;
}
ion-input{
  border-radius: 7px !important;
  border: 1px solid #f1f1f1 !important;
  text-align: justify;
  --background:#f1f1f1;
}

ion-grid{
  padding-left: 30px;
  padding-right: 30px;
}

ion-button{
  --border-radius: 7px;
  padding-left: 30px;
  padding-right: 30px;
}
p{
  color:#808080
}

h1{
  color: grey;
  text-align: center;
}