<ion-content padding>
  <ion-button fill='clear' (click)="landing()" style="color: white">
    <ion-icon name="arrow-round-back" slot="start"></ion-icon>
    Back
  </ion-button>
  <ion-grid>
    <div class="box">
      <h1>Registro</h1>
      <br>
      <form #form="ngForm" (ngSubmit)="register(form)" method="POST">
        <ion-grid>
            <ion-input ngModel name="fName" placeholder="First Name" type="text" pattern="[A-Za-z\s]+" maxlength="50" required></ion-input>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-input ngModel name="lName" placeholder="Last Name" type="text" pattern="[A-Za-z\s]+" maxlength="50" required></ion-input>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-datetime ngModel name="data_nasc" placeholder="Data de nascimento" display-format="DD/MM/YYYY" required="true"></ion-datetime>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-input type="email" ngModel name="email" placeholder="E-mail" pattern="[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?" required="true"></ion-input>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-input type="tel" ngModel name="telefone" placeholder="Telefone" required="true" pattern="[0-9.-]{8,9}$"></ion-input>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-input ngModel name="endereco" placeholder="Endereço" type="text" pattern="[A-Za-z0-9\s]+" required="true"></ion-input>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-input ngModel name="cidade" placeholder="Cidade" type="text" pattern="[A-Za-z\s]+" required="true"></ion-input>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-select placeHolder="Selecione o estado" ngModel name="estado" required="true" >
            <ion-select-option *ngFor="let uf of ufs" value="{{uf}}">{{uf}}</ion-select-option>
          </ion-select> 
        </ion-grid>
        <br>
        <ion-grid>
          <ion-select placeHolder="Selecione o cargo" ngModel name="cargo"  required="true">
          <ion-select-option *ngFor="let cargo of cargos" value="{{cargo}}">{{cargo}}</ion-select-option>
          </ion-select> 
        </ion-grid>
        <br>
        <ion-grid>
          <ion-select placeHolder="Selecione o avental" ngModel name="avental" required="true">
            <ion-select-option *ngFor="let avental of aventals" value="{{avental}}">{{avental}}</ion-select-option>
          </ion-select>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-list lines="none">
            <ion-radio-group ngModel name="nivel">
              <ion-list-header>
                <ion-label>Nível</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Aprendiz</ion-label>
                <ion-radio value="1" slot="start" checked></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Companheiro</ion-label>
                <ion-radio value="2"slot="start"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Mestre</ion-label>
                <ion-radio value="3"slot="start"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-input type="password" ngModel name="password" placeholder="Password" pattern="[a-z0-9._%+-]{6,}$" required="true"title="Minimo 6 caracteres"></ion-input>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-input type="password" ngModel name="password_s" placeholder="Confirm password" pattern="[a-z0-9._%+-]{6,}$" required="true"></ion-input>
        </ion-grid>
        <br>
        <ion-button type="submit" round expand="block" color="danger">Register</ion-button>
      </form>
      <p text-center >Already have a account?</p>
      <ion-button round expand="block" color="primary" (click)="loginModal()">Login</ion-button>
      <br>
    </div>
  </ion-grid>
</ion-content>