<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
      <ion-title>Informativos</ion-title>
    </ion-toolbar>
  </ion-header>
    
  <ion-content padding>
    <ion-card>
      <ion-card-header>
        <ion-buttons>
          <ion-button color="primary" fill="clear" [disabled]="disabled1" (click)="cadastrar()">CADASTRAR</ion-button>
          <ion-button color="primary" fill="clear" (click)="historico()">HISTÓRICO</ion-button>
        </ion-buttons>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title text-center>Informativo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item *ngIf="info.length<1">
            <ion-label text-center>Nenhuma informação ativa</ion-label>
          </ion-item>
            <ion-row>
              <ion-col size="9">
                <ion-item-sliding *ngFor="let inform of info">
                  <ion-item>
                      <ion-label>{{inform.info}}</ion-label>
                  </ion-item>
                </ion-item-sliding>
              </ion-col>
            <ion-col size="3">
              <ion-item-sliding *ngFor="let inform of info">
                <ion-item>
                  <ion-buttons slot="end">
                    <ion-button fill="clear" (click)="delete(inform.id)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
                    <ion-button color="primary" fill="clear" (click)="editar(inform.id)"><ion-icon name="create"></ion-icon></ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-item-sliding>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
