<ion-content padding>
  <ion-button fill='clear' (click)="dismiss()" style="color: white">
    <ion-icon name="arrow-round-back" slot="start"></ion-icon>
    Back
  </ion-button>
  <ion-grid text-center>
      <ion-icon name="person" class="icon"></ion-icon>
  </ion-grid> 
  <br>
  <ion-grid text-center >
    <div class="box">
      <h2>Editar dados</h2>
      <form #form="ngForm" (ngSubmit)="editar(form)" method="POST">
        <ion-grid>
          <ion-input ngModel name="fName"type="text" pattern="[A-Za-z\s]+"  required="true" value={{this.fname}} ></ion-input>
        </ion-grid> 
        <br>
        <ion-grid>
          <ion-input ngModel name="lName" type="text" pattern="[A-Za-z\s]+"  required="true" value={{this.lname}}></ion-input>
        </ion-grid> 
        <br>
        <ion-grid> 
          <ion-datetime ngModel name="data_nasc" display-format="DD/MM/YYYY" required="true" value={{this.data_nasc}}></ion-datetime>
        </ion-grid> 
        <br>
        <ion-grid>
          <ion-input type="email" ngModel name="email" pattern="[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?" required="true" value={{this.email}}></ion-input>
        </ion-grid> 
        <br>
        <ion-grid> 
          <ion-input ngModel name="endereco" type="text" pattern="[A-Za-z0-9\s]+" required="true" value={{this.endereco}}></ion-input>
        </ion-grid> 
        <br>
        <ion-grid> 
          <ion-input ngModel name="cidade" type="text" pattern="[A-Za-z\s]+" required="true" value={{this.cidade}}></ion-input>
        </ion-grid> 
        <br>
        <ion-grid> 
          <ion-input ngModel name="estado" type="text" pattern="[A-Za-z\s]+" required="true" value={{this.estado}}></ion-input>
        </ion-grid> 
        <br>
        <ion-grid> 
          <ion-input ngModel name="telefone" type="text" pattern="[0-9.-]{8,9}$" required="true" value={{this.telefone}}></ion-input>
        </ion-grid>
        <br>
        <ion-grid>
          <ion-select value={{this.cargo}} ngModel name="cargo" required="true">
            <ion-select-option *ngFor="let cargo of cargos" value="{{cargo}}">{{cargo}}</ion-select-option>
          </ion-select> 
        </ion-grid> 
        <br>
        <ion-grid>
          <ion-list lines="none">
              <ion-radio-group ngModel name="nivel">
                <ion-list-header>
                  <ion-label>Nível</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Aprendiz</ion-label>
                  <ion-radio value="1" slot="start" [checked]="checked1"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Companheiro</ion-label>
                  <ion-radio value="2"slot="start" [checked]="checked2"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Mestre</ion-label>
                  <ion-radio value="3"slot="start" [checked]="checked3"></ion-radio>
                </ion-item>
              </ion-radio-group>
          </ion-list>
        </ion-grid>
        <br>
        <ion-grid> 
          <ion-button type="submit" round expand="block" color="primary">Salvar edição</ion-button>
        </ion-grid> 
      </form>
    </div>
  </ion-grid>
</ion-content>
  
  