<ion-content>
    <div class="titulo">
      <h1>App CodeWise</h1>
    </div>
    <ion-grid text-center >
      <div class="box">
        <h2>Login</h2>
        <br>
        <form #form="ngForm" (ngSubmit)="login(form)" method="POST">
          <ion-grid>
            <ion-input ngModel type="email" name="email" placeholder="E-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required="true">
                &nbsp;<ion-icon name="person" color="primary"></ion-icon>
            </ion-input>
          </ion-grid>
          <br>
          <ion-grid> 
            <ion-input ngModel type="password" name="password" placeholder="Password" pattern="[a-z0-9._%+-]{6,}$" required="true">
                &nbsp;<ion-icon name="key" color="primary"></ion-icon>
            </ion-input>
          </ion-grid>                
          <ion-grid text-right>
          <ion-button fill='clear' size='small'>Forgot Password?</ion-button>
          </ion-grid> 
          <ion-button type="submit" round expand="block" size="large"color="primary">Login</ion-button>
        </form>
        <p text-center>Don't have a account?</p>
        <ion-button round expand="block" (click)="register()">Register</ion-button>
        <br>
      </div>
    </ion-grid>
  </ion-content>
  