<ion-content padding>
    <ion-button fill='clear' (click)="dismiss()" style="color: white">
      <ion-icon name="arrow-round-back" slot="start"></ion-icon>
      Back
    </ion-button>
    <br>
    <ion-grid text-center >
      <div class="box">
        <h2>Editar Ordem</h2>
        <form #form="ngForm" (ngSubmit)="editar(form)" method="POST">
          <ion-grid>
            <ion-input type="text" required="true" name="novo" [(ngModel)]="this.ordem"></ion-input>
          </ion-grid>
          <ion-grid>
            <ion-list lines="none">
              <ion-radio-group ngModel name="nivel">
                <ion-list-header>
                  <ion-label>Nível</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Aprendiz</ion-label>
                  <ion-radio value="1" slot="start" [checked]="checked1"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Companheiro</ion-label>
                  <ion-radio value="2"slot="start" [checked]="checked2"></ion-radio>
                </ion-item>
                <ion-item>
                  <ion-label>Mestre</ion-label>
                  <ion-radio value="3"slot="start" [checked]="checked3"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <ion-button type="submit" round expand="block" color="danger">Salvar</ion-button>
          </ion-grid>
        </form>
      </div>
    </ion-grid>
  </ion-content>